.app {
  display: flex;
  justify-content: center;
  width: 100%;
}
.parotable-row {
  /* cursor: pointer; */
}
.parotable-row > span {
  cursor: default;
}
.parotable-row:nth-child(even) {
  background-color: #f2f2f2;
}
.parotable-row:hover {
  background-color: #cccccc;
}
.filter-form {
  margin-left: 14px;
}
.filter-form-item {
  margin-bottom: 12px;
}
.filter-form-item-label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 24px;
}
select,
input {
  display: inline-block;
  width: 200px;
}
